.contact .card{
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    gap:40px;
    width:400px;
    padding:20px;
}
.contact input{
    width: 320px;
}
.contact form p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact{
    margin-bottom: 5%;
}

.ReviewPage{
    display: flex;
    justify-content: space-between;
}
.review-item{
    width: 300px;
    height: 120px;
    overflow: hidden;
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    background-color:rgba(173, 216, 230, 0.116) ;
}
.review-item img{
    width:80px;
}
.review-item p{
    color: gray;
    font-size: 14px;
    width: 180px;
    text-align: justify;
}
.review-item:nth-child(2n){
    margin-left: 50px;
}