.contact .card{
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    gap:40px;
    width:450px;
    padding:20px;
}
.contact input{
    width: 350px;
}
.contact form p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact{
    margin-bottom: 5%;
}

.ReviewPage{
    width: 100vw;
    height: 90vh;
    padding: 30px;
    background-image: url(../../assets/images/hero.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}