.Auth .card{
    border-radius: 15px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow: column;
    gap:30px;
    width:400px;
    padding: 2rem;
    border:none;
    margin-left: 50%;
}
.Auth input{
    width: 350px;
}
.Auth{
    background-image: url(../assets/images/login.png);
    background-repeat: no-repeat;
    background-size: contain;
}