.BookingPage{
    padding: 50px 20px;  
}
.orders  h6{
    font-family: "Dancing Script", cursive;
    color: #e52b34;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.orders  h5{
    text-align: center;
    position: relative;
    top: -25px;
    font-weight: bold;
}
.orders{
    background-image: url(../images/8260901.jpg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y:40px;
    padding: 20px;
}