.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
    position: static;
    top: 0;
    z-index: 1000;
}
.NavBar li{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
}
.NavBar li:hover{
    color: #e52b34;
}
.NavBar img{
    width: 150px;
}