body {
  margin: 0;
  padding: 0;
  font-family:'Roboto';
  overflow-x: hidden;
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

img{
  object-fit: cover;
  overflow: hidden;
}

/* Headings */
.first-title{
  font-family: "Dancing Script", cursive !important;
  color: #e52b34;
  font-size: 40px !important;
  font-weight: 600 !important;
  text-align: center;
}
.second-title{
  text-align: center;
  font-family: sans-serif !important;
  position: relative;
  top: -25px;
  font-weight: bold !important;
}


/* Small devices (mobile Screens, 430px) */
@media only screen and (max-width: 430px) {
  .home{
    height: 50vh;
  }
  .home .content h2 {
    font-size: 30px;
    text-align: center;
  }
  #About{
    background-image:none !important;
  }
  #About p{
    width: auto !important;
  }
  .footer a {
    display: block;
  }

.table-detail-card {
  width: 82%;
}
.Table-Detail {
  background-image: none !important;
  margin-bottom: 55px !important;
}
.table-detail-card{
  width: auto !important;
}
.orders {
  background-size: cover !important;
}
.ReviewPage {
  flex-direction: column-reverse;
}
.contact .card {
  width: auto !important;
}
.review-item:nth-child(2n) {
  margin-left: 0 !important;
}
.review-item {
  min-width: 300px;
}
.success-page {
  margin: 0;
}
.success-card {
  width: auto !important;
}
.order-card {
  width: 300px !important;
}
.OrderDetail {
  width: auto !important;
  height: auto !important;
  background-image: none !important;
  padding: 10px !important;
}
.detail-card {
  width: auto !important;
}
}

/* Large devices (tablets, 900px ) */
@media only screen and (max-width: 900px) {
  .home .content h2 {
    font-size: 30px !important;
}
.ReviewPage {
  flex-flow: column-reverse;
}
.Reviews-items {
  flex-direction: row !important;
  overflow-x: scroll;
  height: 300px !important;
}
.review-item {
  min-width: 300px;
}
.review-item:nth-child(2n) {
  margin-left: 0 !important;
}
.comment-text{
  display: block !important;
}
.Auth{
  background-image: none !important; 
}
.Auth .card{
  border: 1px solid lightgrey !important;
  width: auto !important;
  margin-left: 0 !important;
  padding: 1rem !important;
}
.Auth input {
  width: 300px !important;
}

}