.BookingBanner{
    width: 100%;
    height: 300px;
    text-align: center;
    background-image: url(../../assets/images/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.BookingBanner p{
    letter-spacing: 10px;
}